:root {
    --coral: #F05D5E;
    --teal: #0F7173;
    --light: #E7ECEF;
    --dark: #272932;
    --camel: #D8A47F;
}

body {
    background-color: var(--light);
}

.card {
    padding: 10px;
    margin: 10px;
}

img {
    width: 250px;
}

.card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

h1 {
    font-size: 2.25rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.3rem;
}

p {
    font-size: 1rem;
}

@media screen and (min-width: 700px) {
    h1 {
        font-size: 3.375rem;
    }

    h2 {
        font-size: 2.25rem;
    }

    h3 {
        font-size: 1.95rem;
    }

    p {
        font-size: 1.5rem;
    }

    body {
        background-color: #6666ff
    }
}


@media screen and (min-width: 1000px) {
    h1 {
        font-size: 4.5rem;
    }

    h2 {
        font-size: 3rem;
    }

    h3 {
        font-size: 2.6rem;
    }

    p {
        font-size: 2rem;
    }

    body {
        background-color: #538cc6
    }
}

@media screen and (max-width: 480px) {
    #ipsum {
        display: none;
    }
}

/* Dark mode*/
@media (prefers-color-scheme: dark) {
    body {
      background-color: #222;
      color: #fff;
    }
  }